.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 10px;

  background-color: white;
  border: 1px solid white;
  position: relative;

  transition: border 0.5s linear 0s;
  padding: 10px 0 0 0;
}

.card:hover {
  border: 1px solid rgb(177, 177, 177);
  cursor: pointer;
}

.card__image {
  max-width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 10px;
}

.card__image:hover {
  /*transform: scale(1.05);*/
}

.card .card__image {
  transition: transform 0.5s linear 0s;
}

.card:hover .card__image {
  transform: scale(1.05);
}

.card__counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 100px;
}

.card__icon {
  color: rgb(70, 70, 70);
  opacity: 0.8;
}

.card__count {
  font-size: 50px;
  color: rgb(70, 70, 70);
  opacity: 0.8;
  padding: 0 10px;
}

.card__title {
  width: 200px;
  margin: 0;
  padding: 0;
}
